.main {
    height: auto;
    min-height: 100vh;
}

.container {
    /*  als je nu 'containter' in een class zet dan krijgt die deze eigenschappen*/
    max-width: 45vw;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: .5em;
}

hr {
    border-bottom: 1px solid #ccc;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ul,
li {
    list-style: none;
}

h1 {
    color: #ff5f03fc;
}

/* STYLES PAGES */

.first-para-pages {
    font-family: libre baskerville;
    font-style: italic;
    font-size: 18px;
    line-height: 2rem;
}

.accordion ul {
    background-color: #ff5f03fc;
}

.accordion button {
    background-color: #ff5f03fc;
    color: inherit;
    font-size: inherit;
}

.el-collapse-item_content {
    color: inherit;
    background-color: #ff5f03fc;
    padding-bottom: 0px;
    border-bottom-color: transparent;
}

.homepage {
    font-family: "josefin sans";
}